# Ignore node_modules in all subdirectories
**/node_modules/

# Optional (ignore .env files in all folders)
**/.env

# Optional (ignore build folders)
**/dist/
**/build/

# Ignore VS Code settings
.vscode/

# Ignore Mac system file
.DS_Store
